<mat-sidenav-container class="side_nav_container">
  <mat-sidenav mode="side" opened class="side_nav">
    <ul class="menu_list">
      <li>
        <a routerLink="/navigation" routerLinkActive="active_link">Навигация</a>
      </li>
      <li>
        <a routerLink="/template" routerLinkActive="active_link"
          >Построение шаблона</a
        >
      </li>
      <li>
        <a routerLink="/others" routerLinkActive="active_link">Разное</a>
      </li>
    </ul>
  </mat-sidenav>
  <mat-sidenav-content class="side_nav_content">
    <div class="content_wrapper">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
