<mat-sidenav-container class="side_nav_container">
  <mat-sidenav mode="side" opened class="side_nav">
    <ul class="menuList">
      <li>
        <a routerLink="/navigation" routerLinkActive="activeLink">Навигация</a>
      </li>
      <li>
        <a routerLink="/template" routerLinkActive="activeLink">Построение шаблона</a>
      </li>
    </ul>
  </mat-sidenav>
  <mat-sidenav-content class="side_nav_content">
    <div class="content_wrapper">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
