<!--
<app-basic></app-basic>
<app-create-operators></app-create-operators>
<app-pipe></app-pipe>
<app-custom-operators></app-custom-operators>
<app-high-order-operators></app-high-order-operators>
<app-drag-and-drop></app-drag-and-drop>
<app-error-handling></app-error-handling>
 -->
 <app-subject></app-subject>






<!-- Практика -->
<!--
<app-where-client-swiped></app-where-client-swiped>
<app-combined-swipers></app-combined-swipers>
<app-sand-box></app-sand-box>
<app-live-searching></app-live-searching>
-->
